.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
    box-shadow: rgba(193, 193, 193, 0.4) 4px 4px 20px;
    border-radius: 10px;
    width: 40rem;

}

/*User Picture*/
.userPicture {
    margin-top: 2rem;
    overflow: hidden;
    object-fit: cover;
    width: 16rem;
    height: 16rem;
    border: 4px solid #7cdacc;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userPicture svg {
    width: 8rem;
    fill: currentColor;
    position: relative;
    color: rgb(200, 200, 200);
}

.userPicture img {
    width: 18rem;
    height: 18rem;
    position: absolute;
    border: none;
    border-radius: 50% 50%;
    z-index: 1;
}

/*User*/
.user {
    font-size: 2.4rem;
    margin-top: 2rem;
}

/*User name*/
.userName {
    font-size: 2rem;
    margin-top: 0.8rem;
    font-weight: 400;
}

/*Icons*/
.icons {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    color: #1f883d;
}

/*Number of followers, number of repositories */
.number {
    font-size: 1.6rem;
    margin-right: 1rem;
    color: rgb(116, 116, 116);
    margin-top: 0.3rem;
}


.bio {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin: 2rem;
    text-align: center;
    color: rgb(116, 116, 116);
}