.backIllustration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backIllustration h1 {
    font-family: 'Montserrat';
    margin-bottom: 2rem;
    font-size: 2.4rem;
    color: #1f883d;
}