@media screen and (max-width: 767px) {
    .backIllustration img {
        width: 90%;
        height: 16rem;
    }

    .backIllustration h1 {
        font-size: 1.8rem;
        margin-top: 10rem;
    }
}