.mainContainer {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 2rem;
    grid-template-areas:
        "userInfo repositoriesList repositoriesList recentSearches"
        "userInfo repositoriesList repositoriesList recentSearches"
        "userInfo repositoriesList repositoriesList recentSearches";
}



/*Grid section with the list of repositories */
.repositoriesList {
    grid-area: repositoriesList;
    border: 1.2px solid #b5b0b0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Grid section with  the search information*/
.recentSearches {
    grid-row: recentSearches;
    border: 1.2px solid #b5b0b0;
    border-radius: 10px;
}