.mainContainer {
    padding: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrongUser {
    color: #cf222e;
    position: relative;
    bottom: 6rem;
    left: 50rem;
    font-size: 1.6rem;
    font-family: 'Montserrat';
}