.mainContainer {
    padding: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /*display: grid;
    grid-template-columns: 0.6fr 0.8fr;
    grid-template-rows: 40rem;
    gap: 5rem;
    grid-template-areas:
        "userInfo repositoriesList "

    ;*/
}

/*Grid section with the list of repositories */
.repositoriesList {
    grid-area: repositoriesList;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 56rem;
    margin-left: 6rem;

}

.title {
    font-family: 'Montserrat';
    font-size: 2.4rem;
}